.ForgotPHolder {
  width: 100%;
  height: 100vh;
  /* background: teal; */
  display: flex;
  flex-direction: column;
  gap: 12%;
  font-family: "Poppins";
  align-items: center;
}

.forgotDown {
  width: 88%;
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.fDownTxt {
  width: 100%;
  height: 24%;
  display: flex;
  flex-direction: column;
  gap: 40%;
}

.fResetText {
  color: #0c1a30;
  line-height: 42px;
  font-size: 1.8rem;
  font-weight: bold;
}

.forgotP {
  color: #0c1a30;
  font-size: 0.9rem;
  /* font-weight: 500; */
}

.forgotPBot {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.fPInputOne {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.fPHold {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.fPEmail {
  font-size: 0.9rem;
  font-weight: 600;
}

.fPInput {
  width: 100%;
  min-height: 65%;
  border-radius: 5px;
  border: 1px solid rgb(7, 7, 7);
  padding-left: 8px;
}

.fPBtnATxt {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.resetPBtn {
  width: 100%;
  height: 3rem;
  border-radius: 5px;
  border: none;
  outline: none;
  background: #0c1a30;
  font-weight: 500;
  color: white;
  font-size: 1.05rem;
}
